/* src/fonts.css */
@font-face {
  font-family: 'IRANSans';
  src: url('https://cdn.jsdelivr.net/npm/iransans@1.0.0/woff/IRANSansWeb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSans';
  src: url('https://cdn.jsdelivr.net/npm/iransans@1.0.0/woff/IRANSansWeb_Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}